@charset "utf-8";

#container {margin:0 auto;
width:1200px;
text-align: center; }

.firstPro h3{padding-top:100px;
font-weight:700;
font-size:48px;}

.firstPro p {
    padding: 37px 0 62px 0;
font-size: 20px;
line-height: 24px;
color:#072331;
}

.firstPro a {
    width:219px;
    letter-spacing: -5%;
    background-color:#429dda;
    font-size:26px;
    line-height: 31px;
    color:#fff;
    padding:15px 14px;
    border-radius: 10px;
    font-weight: 500;
}

.secondPro {margin-top: 129px;
background-color:#EDF4F8;}

.secondInner {width:1200px;
margin: 0 auto;
display:flex;
justify-content: space-around;
padding:108px 0;
vertical-align: middle;}

.secondInner div:nth-child(1) {
    font-size:30px;
    line-height:2;
}
.secondInner div:nth-child(2) {font-size:48px;
font-weight:700;}

.thirdPro {
    padding-top: 183px;
}

.thirdPro h3 {
    font-size:40px;
    padding-bottom:88px;
}

.innerCover {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thirdInner1 {
    margin: 0 15px;
    border-radius: 3px;
    box-shadow: 0px 2px 20px 0px #00000014;
}

.coverInner {padding:83px 94px;}

.coverInner div {padding:11px 0;}



.fourthCover {
    margin-top:190px;
    background: #FAFAFA;
}

.fourthPro h3 {font-size:38px;
padding-top:62px;}

.fourthPro p {font-size:20px;
padding:20px 0 129px 0;
font-weight:300;}

.between {
    align-self: center;
    justify-self: center;
}

.between p {font-size:20px !important;
color:#429dda;}

.coverF {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.coverF P {font-size:30px;
font-weight:400;}

.fifthPro {
    padding-top:190px;
    text-align: left !important;
}


.fifthPro h3 {font-size:38px;
text-align: center !important;}


.fifthPro h4 {
    color: #429dda;
    font-weight: 700;
    font-size:20px;
}

.fifthPro h5 {
    padding:24px 0;
    font-size: 25px;
    font-weight:400;
    line-height: 40px;
}

.fifthPro h6 {
    font-size:15px;
    font-weight:300;
}
.coverFifth {display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding-top: 130px;}

.innerFifth {padding:0 27px 0 35px;
border-right:1px solid #CACACA;}

.innerFifth:last-child {border-right:none !important;}


.sixth {margin-top:283px;
display:grid;
grid-template-columns: 1fr 1fr;
background-color: #FAFAFA;}


.sixth .right {text-align: center;
align-self: center;
justify-self: center;}


.sixth .right h3 {
    font-size:48px;
}
.sixth .right p {
    padding:50px;
    font-size: 28px;
    font-weight: 300;
}
.sixth .right a {
    font-size: 26px;
    font-weight: 400;
    background-color: #072331;
    color:#fff;
    padding: 20px 14px;
    border-radius: 10px;
}



.seventh {
    padding:100px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}



/*  */
@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 390px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 345px;
}
